title {
  color: blue
}

body {
  background: var(--color-fondo);
  color: var(--color-texto);
}

h1 {
  color: rgb(255, 0, 0)
}

h2 {
  color: rgb(255, 0, 212)
}

footer {
  color : white
}
 
button {
  color: rgb(200, 255, 0)
}